In [21]:
pip install pandas

Requirement already satisfied: pandas in c:\users\juanpablo\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\juanpablo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\juanpablo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install datetime

Requirement already satisfied: datetime in c:\users\juanpablo\anaconda3\lib\site-packages (4.9)
Requirement already satisfied: zope.interface in c:\users\juanpablo\anaconda3\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\users\juanpablo\anaconda3\lib\site-packages (from datetime) (2021.3)
Requirement already satisfied: setuptools in c:\users\juanpablo\anaconda3\lib\site-packages (from zope.interface->datetime) (61.2.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install shimoku-components-catalog

Requirement already satisfied: shimoku-components-catalog in c:\users\juanpablo\anaconda3\lib\site-packages (0.2.1)
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install json5

Requirement already satisfied: json5 in c:\users\juanpablo\anaconda3\lib\site-packages (0.9.14)Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install shimoku_api_python

Requirement already satisfied: shimoku_api_python in c:\users\juanpablo\anaconda3\lib\site-packages (1.0)
Requirement already satisfied: tenacity~=8.1.0 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (8.1.0)
Requirement already satisfied: datetime~=4.9 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (4.9)
Requirement already satisfied: aiohttp~=3.8.3 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (3.8.4)
Requirement already satisfied: shimoku-components-catalog>=0.2.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (0.2.1)
Requirement already satisfied: requests~=2.28.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (2.28.2)
Requirement already satisfied: ipython>=8.10 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (8.14.0)
Requirement already satisfied: json5~=0.9.10 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (0.9.14)
Requirement already satisfied: psutil~=5.9.4 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (5.9.5)
Requirement already satisfied: tqdm~=4.64.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (4.64.1)
Requirement already satisfied: pandas~=1.5.2 in c:\users\juanpablo\anaconda3\lib\site-packages (from shimoku_api_python) (1.5.3)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (5.1.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (21.4.0)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (1.6.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (4.0.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from aiohttp~=3.8.3->shimoku_api_python) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\juanpablo\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp~=3.8.3->shimoku_api_python) (4.1.1)
Requirement already satisfied: zope.interface in c:\users\juanpablo\anaconda3\lib\site-packages (from datetime~=4.9->shimoku_api_python) (5.4.0)
Requirement already satisfied: pytz in c:\users\juanpablo\anaconda3\lib\site-packages (from datetime~=4.9->shimoku_api_python) (2021.3)
Requirement already satisfied: matplotlib-inline in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (0.1.2)
Requirement already satisfied: jedi>=0.16 in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (3.0.39)
Requirement already satisfied: stack-data in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (2.11.2)
Requirement already satisfied: colorama in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (5.1.1)
Requirement already satisfied: decorator in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (5.1.1)
Requirement already satisfied: backcall in c:\users\juanpablo\anaconda3\lib\site-packages (from ipython>=8.10->shimoku_api_python) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\juanpablo\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=8.10->shimoku_api_python) (0.8.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from pandas~=1.5.2->shimoku_api_python) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\juanpablo\anaconda3\lib\site-packages (from pandas~=1.5.2->shimoku_api_python) (1.21.5)
Requirement already satisfied: wcwidth in c:\users\juanpablo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=8.10->shimoku_api_python) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\juanpablo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas~=1.5.2->shimoku_api_python) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests~=2.28.1->shimoku_api_python) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests~=2.28.1->shimoku_api_python) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests~=2.28.1->shimoku_api_python) (2021.10.8)
Requirement already satisfied: asttokens in c:\users\juanpablo\anaconda3\lib\site-packages (from stack-data->ipython>=8.10->shimoku_api_python) (2.0.5)
Requirement already satisfied: executing in c:\users\juanpablo\anaconda3\lib\site-packages (from stack-data->ipython>=8.10->shimoku_api_python) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\juanpablo\anaconda3\lib\site-packages (from stack-data->ipython>=8.10->shimoku_api_python) (0.2.2)
Requirement already satisfied: setuptools in c:\users\juanpablo\anaconda3\lib\site-packages (from zope.interface->datetime~=4.9->shimoku_api_python) (61.2.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install os

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [5]:
pip install requests

Requirement already satisfied: requests in c:\users\juanpablo\anaconda3\lib\site-packages (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\juanpablo\anaconda3\lib\site-packages (from requests) (1.26.9)
Note: you may need to restart the kernel to use updated packages.

In [253]:
from os import getenv
import shimoku_api_python as Shimoku

###access_token: str = getenv('d6a3c5f7-02d6-40e7-9ecd-cfd88ec1d005')
##universe_id: str = getenv('b5400b42-45a5-4f58-9bc6-ba4a98b1ead6')
workspace_id: str = getenv('WORKSPACE_ID')

s = Shimoku.Client(
    access_token='d6a3c5f7-02d6-40e7-9ecd-cfd88ec1d005',
    universe_id='b5400b42-45a5-4f58-9bc6-ba4a98b1ead6')

In [254]:
s.workspaces.delete_all_workspace_menu_paths(uuid='0f44ae1d-9e6a-42c3-ba45-c0e602dd49a1')

In [61]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

df_titles = pd.read_csv('all_titles.csv', sep=",")
df_credits = pd.read_csv('all_credits.csv', sep=",")
df_titles.head()

,Unnamed: 0,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming
0,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'romance', 'comedy', 'family', 'fant...",['US'],NaN,tt0038650,8.6,470551.0,27.860,8.259,amazon
1,1,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1172.0,15.424,7.600,amazon
2,2,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,107,"['comedy', 'drama', 'action', 'war', 'western'...",['US'],NaN,tt0017925,8.1,93558.0,10.345,8.014,amazon
3,3,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,172,"['drama', 'romance', 'war']",['US'],NaN,tt0038351,8.1,66794.0,15.819,7.843,amazon
4,4,tm38206,Whoopee!,MOVIE,Western sheriff Bob Wells is preparing to marr...,1930,NaN,93,"['comedy', 'romance', 'western']",['US'],NaN,tt0021549,6.4,1103.0,1.174,7.000,amazon

In [62]:
df_peliculas = df_titles.merge(df_credits, on='id', how = "left")

In [63]:
df_peliculas.head()

,Unnamed: 0_x,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,...,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,streaming,Unnamed: 0_y,person_id,name,character,role
0,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'romance', 'comedy', 'family', 'fant...",['US'],...,8.6,470551.0,27.86,8.259,amazon,0.0,25020.0,James Stewart,George Bailey,ACTOR
1,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'romance', 'comedy', 'family', 'fant...",['US'],...,8.6,470551.0,27.86,8.259,amazon,1.0,26190.0,Donna Reed,Mary Hatch,ACTOR
2,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'romance', 'comedy', 'family', 'fant...",['US'],...,8.6,470551.0,27.86,8.259,amazon,2.0,25653.0,Lionel Barrymore,Mr. Potter,ACTOR
3,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'romance', 'comedy', 'family', 'fant...",['US'],...,8.6,470551.0,27.86,8.259,amazon,3.0,13301.0,Thomas Mitchell,Uncle Billy,ACTOR
4,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'romance', 'comedy', 'family', 'fant...",['US'],...,8.6,470551.0,27.86,8.259,amazon,4.0,34171.0,Henry Travers,Clarence,ACTOR

In [ ]:
pd_streaming= df_peliculas.groupby(['streaming']).count().reset_index().sort_values(by = ['title'],ascending=False)

In [64]:
df_peliculas.duplicated().sum()

0

In [144]:
pd_categorias= df_peliculas.groupby(['release_year']).count().reset_index().sort_values(by = ['title'],ascending=False)

In [145]:
pd_streaming[['streaming','title']]

  streaming   title
0    amazon  150408
4   netflix   87193
2       hbo   66187
3      hulu   41043
1    disney   32057

In [146]:
pd_streaming1 = pd_streaming[['streaming','title']]
pd_streaming1

  streaming   title
0    amazon  150408
4   netflix   87193
2       hbo   66187
3      hulu   41043
1    disney   32057

In [215]:
for i in range(len(pd_streaming1)):
    print(pd_streaming1['streaming'][i], pd_streaming1['title'][i])

amazon 150408
disney 32057
hbo 66187
hulu 41043
netflix 87193

In [255]:
s.set_workspace(uuid='0f44ae1d-9e6a-42c3-ba45-c0e602dd49a1')

s.set_board('Cantidad de Titulos por Plataforma')

s.set_menu_path('Titulos', 'Cantidad')
 
s.plt.bar(order=0, title='Cantidad de Titulos por Plataforma', data=pd_streaming1, x=['streaming'], y=['title'] )

##data = pd_streaming.iloc[1]


###s.plt.indicator(data= data, order = 0)

s.set_menu_path('Indicadores', 'Cantidad')

i = 0

for i in range(len(pd_streaming1)):
    titulo = pd_streaming1['streaming'][i]
    valor = pd_streaming1['title'][i]
    data = [{"Color": "success", "title": titulo, "value":valor, "align":"center"}]
    s.plt.indicator (data = data, order = i,)
    i =+ 1
    print(data)

[{'Color': 'success', 'title': 'amazon', 'value': 150408, 'align': 'center'}]
[{'Color': 'success', 'title': 'disney', 'value': 32057, 'align': 'center'}]
[{'Color': 'success', 'title': 'hbo', 'value': 66187, 'align': 'center'}]
[{'Color': 'success', 'title': 'hulu', 'value': 41043, 'align': 'center'}]
[{'Color': 'success', 'title': 'netflix', 'value': 87193, 'align': 'center'}]